<footer>
  <div class="container">
    <div class="info">
      <div class="logo">
        <img src="../../../assets/images/logo.png" alt="Soma logo" />
      </div>
      <p>
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. A,
        necessitatibus?"
      </p>
    </div>
    <div class="location">
      <h3>Location</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
    </div>
    <div class="contacts">
      <h3>Contacts</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
    </div>
    <div class="useful-links">
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/Projects">Projects</a></li>
        <li><a href="#">Donate</a></li>
      </ul>
    </div>

    <p class="inc">SOMA FOUNDATION LIMITED &copy; 2018 - {{ toDate }}</p>
  </div>
</footer>
